/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-between;
	aligh-items:center;
}
.hero>img{
	width:320px;
	height:170px;
	object-fit:cover;
}
.hero-2{
	text-align:center;
	font-size:30%;
	padding-top:40px;
	padding-bottom:40px;
	}
button{
	align-items:center;
	color:white;
	background-color:red;
	border:none;
	padding:10px;
	border-radius:5px;
}
